{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
    <div class="container">
        <h1 class="text-white">Efetuar login</h1>
        <div class="col-md-4 text-white">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" class="btn btn-success col-md-5" value="Entrar">
                <div class="foot-lnk ">
                    <a href="{% url 'resetPassword' %} " >Esqueceu a senha?</a>
                </div>
            </form>
            
        </div>
    </div>
{% endblock %}
                