{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
    {% if validlink %}
    <div class="container col-md-4">
        <h3>Altere sua senha</h3>
        <form method=POST>
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary col-md-3">Alterar senha</button>
        </form>
    {% else %}
        <p>
            O link de resetar senha está incorreto, possivelmente porque ele já foi utilizado.
            Por favor, solicite um novo link para resetar sua senha.
        </p>
    </div>
    {% endif %}
{% endblock %}


