/*Linpando as formatações padrões*/
* {
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em; /* vale 16 px*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #daaa27;
}


/***** Layout *****/

#area-cabecalho{
	background:#e6e6e6;
	padding: 5px;
	text-align: center;
	width: 100%;
	position: fixed;
	border-bottom-right-radius: 80px;
	border-bottom-left-radius: 80px;
}

#area-cabecalho2{
	background:#e6e6e6;
	padding: 5px;
	text-align: center;
	width: 100%;
	margin-left: 8px;
	position:absolute;
	border-bottom-right-radius: 80px;
	border-bottom-left-radius: 80px;
}

#area-logo{
	padding-bottom:  15px ;
	background: #180c86;
	margin-left: 100px;
	margin-right: 100px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	
}

#area-menu{
	padding-bottom:  30px ;
	padding-top:  25px ;
	background: #180c86;
	border-radius: 50px;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
	
}


#area-principal {
	background: #daaa27;
	width: 100%;
	padding: 15px;
	padding-top: 160px;
	margin-right: 60px;
	text-align: center;
}

#area-postagens, #area-lateral {
	background: rgb(218, 170, 39);
	
}

#area-postagens{
	border-top: #000080 solid 2px;
	width: 90%;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
	align-items: center;
	float: left;
	border: solid red 2px;
}


#area-lateral{
	width: 500px;
	height: 800px;
	float: right;
	margin-right: 90px;
	margin-top: 30px;
	align-items: center;
	border: solid green 2px;
}

#rodape{
	clear: both; /*remover a parte das outras divs . separar das outras*/
	background: #000080;
	padding: 15px;
    padding-top: 150px;
    color: #fff;
	text-align: center;
}


.div-form{
	width: calc(600px - 2rem);
	height: 5rem;
	margin: 1.0em 1.5em;
	box-sizing: border-box;
	border: 1px solid black;
	display: flex;
	padding-left: 10px;	
}

.div-div2{
	border: 1px solid black;
	display: flex;
	padding-left: 10px;
	text-align: left;
}

/**** Formatação do menu ****/

a {
	text-decoration: none;
}

a:link, a:visited{
	color: #180c86;
}

a:hover{
	text-decoration: underline;
}

#area-cabecalho a:link ,#area-cabecalho a:visited{
	color: #fff;
	padding: 8px 12px;
	border: 1.5px solid;
	border-radius: 5px;
	margin-right: 10px;
	padding: 10px;
}


#area-cabecalho a:hover{
	background:  rgb(218, 170, 39);
	color: #fff;
	
}

#area-cabecalho2 a:link ,#area-cabecalho2 a:visited{
	color: #fff;
	padding: 8px 12px;
	border: 1.5px solid;
	border-radius: 5px;
	margin-right: 10px;
	padding: 10px;
	transition: background 0.5s;
}


#area-cabecalho2 a:hover{
	background:  rgb(218, 170, 39);
	color: #fff;
}

.imagem{
	width: 500px;
	float: right;
	height: 560px;
}

.botao-iniciar{
	color:white;
	font-size: 24px;
	background:#000080 ;
	padding: 5px;
	border-radius: 40px;
	width: 400px;
	transition: transform  1s, background 1s;
  	transform: translateX(0) scale(0.8);

}

.botao-iniciar:hover, .botao-iniciar:focus{
	background:#1a1adf ;
	color: white;
	cursor: pointer;
	transform: translateX(20px) scale(0.9);
}

.texto{
	font-size: 26px;
	color: #000080;
	margin-bottom: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#div-left{
	float: left;
	bottom: 100%;
	border: solid green 2px;
	width: 200px;
	height: 200px;
	border-top-right-radius: 150px;
	border-radius: 100px;
}

/**** Formatação em geral ****/


h1{
	font-size: 2.5em;
}

h2{
	color: #f7b600
}

.branco{
	background:#000080;
	color: #ffffff;
	margin: 0px 400px;
	border-radius: 40px;
	text-align: center;
}

.amarelo{
	color: rgb(219, 135, 25);
}

.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #CCC;
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
}


