{% extends 'base.html' %}

{% load bootstrap %}

{% block body %}

<div class="container col-md-5">
    <h1> Cadastrar Produtos </h1>
    <form method="POST" enctype="multipart/form-data" > 
        <!-- SEMPRE TER ESTE NOME = enctype="multipart/form-data"-->

        {% csrf_token %} <!--TOKEN DE SEGUANÇA DO PYTHON, TEM QUE TER NOS FORMULARIOS SEMPRE-->
        
        {{ form|bootstrap }}
        <button class="btn btn-primary col-md-3" type="submit"> Cadastrar </button>
        <br><br>
    </form>
</div>

{% endblock %}

