{% extends 'base.html' %}

{% load static %}

{% block body %}
<div class="container">
	
	{% csrf_token %}
	<div class="form-row">
		<div class="form-group">
			<h1 class="text-white">Produtos</h1>
		</div>

		<div class="form-group col-md-10">
			{% if messages %}
			<ul class="message ">
			    {% for message in messages %}
			    <div class="alert alert-success col-md-4" role="alert">{{ message }}</div>
			    {% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>

	<div class="card-body">
	    <div class="table-responsive" style="border-radius:10px;">

			<table class="table table-striped table-light" style="border-radius:10px;">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col" >Código</th>
			      <th scope="col">Imagem</th>
			      <th scope="col">Produtos</th>
			      <th scope="col">Descrição</th>
			      <th scope="col" width="120px">Preços</th>
			      <th scope="col">Status</th>
			      {% if user.is_authenticated %}
			      	<th scope="col">Opções</th>
			      {% endif %}
			    </tr>
			  </thead>

			  <tbody>
			  	{% for produtos in produtos %}
				  

				  	{% if produtos.status_produto == 'Disponivel' %}
					    <tr>
					      <th scope="row">{{produtos.codigo_produto}}</th>
					      {% if produtos.img_produto %}
						  <td><img src="{{produtos.img_produto.url}}" class="thumbnail" width="80px"  height="80px"></td>
					      {% else %}
					      	<td><img width="80px" height="80px" class="thumbnail" src="{% static 'imagens/sem-imagem.png'%}/"></td>
					      {% endif %}
					      <td>{{produtos.nome_produto}}</td>
					      <td>{{produtos.descricao_produto}}</td>
					      <td>R$ {{produtos.preco_produto}}</td>
					      <td class="text-success"><strong>{{produtos.status_produto}}</strong></td>
					      {% if user.is_authenticated %}
					      	<td class="col-md-2">
					      		<a class="btn btn-primary" href="EditarProduto/{{produtos.ID}}"> Editar</a>
					      		<a class="btn btn-danger" href="{% url 'remover_Produto' produtos.ID %}" >Excluir</a> <!-- data-toggle="modal" data-target="#modal2"-->
					      	</td>
					      {% endif %}
					    </tr>

				    {% else %}

					    <tr class="bg-warning">
					      <th scope="row">{{produtos.codigo_produto}}</th>
					      {% if produtos.img_produto %}
					      	<td><img width="80px" height="80px" class="thumbnail" src="{{produtos.img_produto.url}}"></td>
					      {% else %}
					      	<td><img width="80px" height="80px" class="thumbnail" src="{% static 'imagens/sem-imagem.png'%}"></td>
					      {% endif %}
					      <td>{{produtos.nome_produto}}</td>
					      <td>{{produtos.descricao_produto}}</td>
					      <td>R$ {{produtos.preco_produto}}</td>
					      <td class="text-danger"><strong>{{produtos.status_produto}}</strong></td>
					      {% if user.is_authenticated %}
					      	<td class="col-md-2">
					      		<a class="btn btn-primary" href="EditarProduto/{{produtos.ID}}"> Editar</a>
					      		<a class="btn btn-danger" href="{% url 'remover_Produto' produtos.ID %}" >Excluir</a> <!--{% url 'remover_Produto' produtos.ID %}-->
								  <!-- data-toggle="modal" data-target="#modal2"-->
					      	</td>
					      {% endif %}
					    </tr>

				    {% endif %}

			    {% endfor %}
			  </tbody>
			</table>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

         <!--
          AQUI FICA O CONTEUDO QUE VAI APARECER NO "MODAL"
        -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Adcionar</button>
        </div>

      </div>
    </div>
  </div>

{% endblock %}